/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/*
--text: #b87100;
--background: #ffffff;
--primary: #ffc800;
--secondary: #ffc05c;
--accent: #ff99ee;
*/


.btnPrimary{
    background-color: #ffc800;
    color: white;
    border-style: none;

}

.btnPrimary:hover{
    background-color: #ffffff;
    color: #b87100;
    border: 2px solid #ffc800;

}

.btnSecondary{
    background-color: #ffecce;
    color: white;
    border-style: none;

}

.btnSecondary:hover{
    background-color: #ffffff;
    color: #b87100;
    border: 2px solid #b87100;

}

.navbarPrueba{
    background-color: #ffffff;
}

.textColor{
    color: #b87100;
}

.prueba{
    background-color:#ffc800 ;
}