/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/*
--text: #b87100;
--background: #ffffff;
--primary: #ffc800;
--secondary: #ffc05c;
--accent: #ff99ee;
*/

body{
    color:#b87100 ;
    background-color: #ffffff;
}

.btnPrimary{
    background-color: #ffc800;
    color: white;
    border-style: none;

}

.btnPrimary:hover{
    background-color: #ffffff;
    color: #b87100;
    border: 2px solid #ffc800;

}

.btnSecondary{
    background-color: #ffecce;
    color: white;
    border-style: none;

}

.btnSecondary:hover{
    background-color: #ffffff;
    color: #b87100;
    border: 2px solid #b87100;

}

.navbarPrueba{
    background-color: #ffffff;
}

.textColor{
    color: #b87100;
}

.prueba{
    background-color:#ffc800 ;
}

.regBackground{
    --s: 60px; /* control the size*/
    --c1: #499587;
    --c2: #76C9B2;
    
    background:
      repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
       0 0/calc(4*var(--s)) calc(2*var(--s)),
      conic-gradient(#0000 50%,var(--c2) 0)
       calc(var(--s)/2) 0/calc(2*var(--s)) 1%,
      radial-gradient(var(--c2) 70%,var(--c1) 72%)
       0 0/var(--s) var(--s);
}